

/*-------------------- FOR A RESPONSIVE WEB DESIGN -------------------- */

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/*-------------------- HEADER Section -------------------- */

body {
    font-family: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #1B6C7C;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  

.img-circle {
    border-radius: 50%;

}

#header img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 180px;
}
#header h2 {
    /*color: aqua;*/
    color: white;
    padding-top: 30px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 10px;
}

#header h6 {
    color: #0202036c;
    padding-top: 10px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.jumbotron {
    background-color: #3CB371;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.navbar {
    margin-bottom: 0;
    padding-top: 50px;
    /*background-color: #f4511e;*/
    background-color: #3CB371; 
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    
}
.navbar li a, .navbar .navbar-brand {
    /*color: #fff !important;*/
    color: #fff;
    font-size: 13px;
}

#myNavbar ul li a {
    color: white;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    /*background-color: #2F4F4F;*/
    background-color:  #1B6C7C; 
}


@media screen and (max-width: 768px) {
    .navbar  {
      padding: 0;
    }
}

/*-------------------- QUOTES Section -------------------- */

.carousel-control.right, .carousel-control.left {
    color: #3CB371;
    /*background-image: none;*/
}

.carousel-indicators li {
    border-color: #3CB371;

}

.carousel-indicators li.active {
    background-color: #3CB371;
}

.item h4 {
    font-size: 19px;
    /*line-height: 1.375em;*/
    height: 80px;
    font-weight: 400;
    font-style: italic;
    margin: 30px 0;
    color: #3CB371;
}
.item span {
    font-style: normal;
}
/*-------------------- ABOUT Section -------------------- */

.logo-small {
    color: #3CB371;
    font-size: 50px;
}
.logo {
    color: #3CB371;
    font-size: 300px;
    padding-bottom: 100px;

}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    /*background-color: #f6f6f6;*/
    background-color:#E2E8EF;
}

.col-sm-8 p {
    color: black;
    font-size: 17px;
}

.row .col-sm-4 li {
    font-size: 17px;
}


#about .container-fluid {
    background: url('img_one.jpg') no-repeat;
}


/*-------------------- SKILLS Section -------------------- */


.slideanim {visibility:hidden;}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 10px 0;
  }

  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}


@media screen and (max-width: 450px) {
    .col-sm-3 h3 {
      font-size: 14px;
    }
  
    .btn-sm {
        width: 100%;
        margin-bottom: 35px;
    }
  }


@media screen and (max-width: 400px) {
    .item h4 {
        font-size: 12px;
        /*line-height: 1.375em;*/
        height: 80px;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
        color: #3CB371;
    }
  }

/*-------------------- TOOLS Section -------------------- */


  /*@media screen and (max-width: 450px) {
    .col-sm-4 .thumbnail img {
      width: 200px;
      height: 100px;
    } */

    #tools h4 {
        color: black;
    }

    #tools {
        background: url('img_one.jpg') no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    @media screen and (max-width: 768px) {
        #tools {
            background: url('img_one.jpg') no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
      }

      .w3-row-padding img {margin-bottom: 12px}
/*-------------------- CERTIFICATE Section -------------------- */

.col-sm-2 {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .col-sm-2 {
        width: 100%;
    }
  }

.panel {
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #3CB371;
    background-color: #fff !important;
    color: grey;
}
.panel-heading {
    color: #fff !important;
    background-color: #3CB371 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #3CB371;
    color: black;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color:#3CB371;
}


.row .col-xm-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3CB371;
    margin: 5px;
}

.btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#certificate .col-sm-2 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#certificate .col-sm-2 .thumbnail img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 920px) {
    .col-sm-2 .panel-heading h3 {
        font-size: 15px;
    }
 }


/*-------------------- CONTACT Section -------------------- */


.contact-area .fa {
    text-align: center;
    padding: 15px;
    width: 15px;
    height: 15px;
    text-decoration: none;
    margin: 5px;
    border-radius: 20%;
    font-size: 22px;
  }
  
  .contact-area .fa:hover {
      opacity: 0.7;
      text-decoration: none;
  }

